.h1{color:#8A2BE2; font-size: 24pt; font-family:sans-serif;}

footer p{font-size:9pt;}

footer a:link{color:green; text-decoration:none; font-size:10pt;}

footer a:hover, a:focus{color:purple;}

footer a:visited{color:maroon;}

footer a:active{color:coral;}

.h3{color:#8A2BE2; font-size: 16pt; font-family:sans-serif;}

main p, blockquote{font-size:12pt; font-family:sans-serif;}

.ul{font-family:sans-serif;}

.li1{font-family:sans-serif; color:red;}

.li2{font-family:sans-serif; color:blue;}

